<div class="row">
    <div class="col-md-6 mx-auto mt-5">
     <div class="card">
         <div class="card-body">
             <h1 class="text-center">LOGIN</h1>
             <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
              <div class="form-group">
                  <label for="Email">Email</label>
               <input type="Email" class="form-control" formControlName="email">
               
              </div>
              <div class="form-group">
                <label for="Password">Password</label>
                <input type="Password" class="form-control" formControlName="password">
               </div>
               <button type="submit" class="btn btn-primary btn-lg
               btn-block">Entrar</button>
             </form>
             <div class="form-group mt-3">
                <p>Crear un cuenta <a [routerLink]="['/register']">Registrar</a></p>
               </div>
         </div>
     </div>
    </div>
</div>
